*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

:root {
  
  --h1: 48px;
  --h2: 36px;
  --h3: 28px;
  --h6: 16px;
  
  --transition: all 200ms ease-out;
}

.lose-color {
  color: rgb(255, 31, 98);
}

.win-color{
  color: rgb(85, 247, 158);
}

body {
  font-family: rubik;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

#finisher-canvas {
  width: 100vw;
  height: 100vh;
}

#app{
  margin: 0 auto;
  margin-top: 5vh;
  padding: 30px;
  width: 40vw;
  height: 90vh;
  border-radius: 20px;
  background: rgba(255, 255, 255, .15);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255,255,255,0.125);
  box-shadow: 3px 3px 10px rgba(66, 66, 66, 0.1);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.app-title{
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
  font-size: var(--h2);
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 20px;
}

.buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.button {
  margin-block: 70px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  cursor: pointer;
  background: rgba(255, 255, 255, .05);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255,255,255,0.125);
  box-shadow: 3px 3px 10px rgba(66, 66, 66, 0.1);
  transition: var(--transition);
  svg{
    width: 60px;
    height: 60px;
    fill: white;
  }
  h3{
    display: none;
    font-size: var(--h6);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    transition: var(--transition);
  }
}

.buttons{
  &:has(:hover) > :not(:hover){
    transform: scale(0.9);
  }
  .button:hover{
    transform: scale(1.05);
    grid-row: 10px;
    box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.3);
    svg{
      filter: drop-shadow(2px 2px 20px rgba(255, 255, 255, 0.3));
      transition: var(--transition);
    }
    h3{
      display: block;
      text-shadow: 1px 1px 10px;
    }
  }
}

.choices-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 150px;
  align-items: center;
  justify-items: center;
  *{
    text-align: center;
  }
}
.player-choice,
.computer-choice {
  font-weight: 500;
  font-size: var(--h3);
  align-self: start;
}

.result {
  grid-column: span 2;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px;
  font-size: var(--h1);
  transition: var(--transition);
}

.scoreboard{
  display: flex;
  align-items: center;
  justify-content: center;
  *{
    font-size: var(--h1);
    font-weight: 600;
    padding: 5px;
    text-shadow: 1px 1px 20px;
  }
}

.score-section{
  display: flex;
  flex-direction: column;
}
